{{ define "title" }}Artur Zakirov{{ end }}

{{ define "head" }}
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{{ end }}

{{ define "content" }}
<strong>Current position:</strong> PostgreSQL Developer at
	<a target="_blank" href="https://www.adjust.com/">adjust</a><br>
<strong>Languages:</strong> C, Python, Go, Java, C#<br>
<strong>Database stuff:</strong> PostgreSQL, MS SQL Server<br>
<strong>Operation System:</strong> Linux<br>
<strong>Hobbies:</strong> Travel, cycling, bouldering<br>
{{ end }}
