{{ define "title" }}Artur Zakirov{{ end }}

{{ define "head" }}
<link type="text/css" rel="stylesheet" href="/static/css/index.css">
{{ end }}

{{ define "content" }}
<strong>Current position:</strong> Software engineer at
	<a target="_blank" href="https://www.soft-gear.co.jp/en/index.html">Soft Gear</a><br>
<strong>Languages:</strong> C, Python, Go, C#, Perl<br>
<strong>Database stuff:</strong> PostgreSQL, MS SQL Server<br>
<strong>Operation System:</strong> Linux<br>
<strong>Hobbies:</strong> Travel, cycling<br>
{{ end }}
