{{ define "title" }}Arthur Zakirov: Presentations{{ end }}

{{ define "navbar" }}
<a class="text-muted" href="/">Home</a>
<a class="text-body" href="/presentations">Presentations</a>
{{ end }}

{{ define "content" }}
<h4>Conferences materials</h4>
<h6>Using pg_variables as temporary tables</h6>
<ul>
    <li>
        <a target="_blank"
            href="/static/presentations/pg-variables-pgconf-ru-2019.pdf">pdf</a>
    </li>
    <li>
        <a target="_blank"
            href="https://pgconf.ru/en/2019/242940">PGConf.Russia 2019</a>
    </li>
</ul>
<h6>Flexible full text search</h6>
<ul>
    <li>
        <a target="_blank"
            href="/static/presentations/fts-pgconf-eu-2017.pdf">pdf</a>
    </li>
    <li>
        <a target="_blank"
            href="https://www.postgresql.eu/events/pgconfeu2017/schedule/session/1595-flexible-full-text-search/">PGConf.EU 2017</a>
    </li>
</ul>
<h6>Full text search capabilities in PostgreSQL</h6>
<ul>
    <li>
        <a target="_blank"
            href="/static/presentations/fts-pgconf-ru-2017.pdf">pdf</a>
    </li>
    <li>
        <a target="_blank"
            href="https://pgconf.ru/en/2017/94083">PGConf.Russia 2017</a>
    </li>
</ul>
<h6>Better full text search in PostgreSQL</h6>
<ul>
    <li>
        <a target="_blank"
            href="/static/presentations/fts-pgconf-eu-2016.pdf">pdf</a>
    </li>
    <li>
        <a target="_blank"
            href="https://www.postgresql.eu/events/pgconfeu2016/schedule/session/1362-better-full-text-search-in-postgresql/">PGConf.EU 2016</a>
    </li>
</ul>
{{ end }}
